<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Project Title</title>
  </head>
  <body>
    <nav>
      <div class="main-action-buttons">
        <div id="go-to-add" class="enfold">
          <button>Add</button>
        </div>
        <div id="go-to-search" class="enfold active">
          <button>Search</button>
        </div>
      </div>
    </nav>
    <main id="workspace"></main>
  </body>
</html>
