.search-region {
  margin: 2em 15%;
  padding: 2em;
  border-radius: 30px;
  background-color: var(--secondary-container);
  color: var(--on-secondary-container);
}

.search-region > *,
.search-filter > * {
  margin: 1rem 0;
}

.search-text {
  display: grid;
  grid-template-columns: 4fr 1fr;
  gap: 10px;
}
.search-text > * {
  font-size: 1.2rem;
  padding: 0.3em;
  border-radius: 7px;
  border: none;
}

.search-text > button {
  background-color: var(--secondary);
  color: var(--on-secondary);
  cursor: pointer;
}
.search-text > button:hover {
  background-color: var(--secondary-hover);
}
.search-text > button:active {
  background-color: var(--secondary-active);
}

.search-filter > .filter > :first-child {
  font-weight: 600;
  margin-right: 1em;
}

.search-filter > h3 {
  font-weight: bold;
  padding: 0;
  border-bottom: 2px solid currentColor;
  text-align: center;
}

.filter-year > select {
  border-radius: 5px;
}

.filter-placement-status {
  display: flex;
}
.placement-status-flags {
  display: flex;
}

.placement-status-field {
  margin-right: 0.5em;
}

.placement-status-field > input[type='radio'] {
  appearance: none;
  margin: 0;
  width: fit-content;
  font-size: inherit;
  color: inherit;
}
.placement-status-field > input[type='radio']::after {
  border-radius: 5px;
  padding: 0.15em 0.3em;
  border: 1px solid var(--outline);
}

.placement-status-field > input[id='filter-placed-flag']::after {
  content: 'Placed';
}

.placement-status-field > input[id='filter-not-placed-flag']::after {
  content: 'Not Placed';
}

.placement-status-field > input[type='radio']:checked::after {
  color: var(--on-tertiary);
  background-color: var(--tertiary);
}
