.form-heading {
  font-size: 1.2rem;
  cursor: pointer;
}
.form-heading:hover,
.form-heading.selected {
  color: var(--inverse-on-primary-container);
}

.accordion-form-item > form {
  margin: 1em 1em 1.5em 1em;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 1em 2em;
}

.accordion-form-item > form.hidden {
  display: none;
}
