:root {
  box-sizing: border-box;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 14px;
  color: #1d1b20;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  outline-color: var(--outline);
}
body,
p {
  margin: 0;
  padding: 0;
}
body {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 10vh 90vh;
  background-color: #fef7ff;
  --primary: #65558f;
  --primary-hover: #76669f;
  --primary-active: #8777af;
  --on-primary: #ffffff;
  --secondary: #625b71;
  --secondary-hover: #736c82;
  --secondary-active: #847d93;
  --on-secondary: #ffffff;
  --tertiary: #7d5260;
  --on-tertiary: #ffffff;
  --error: #b3261e;
  --on-error: #ffffff;
  --primary-container: #eaddff;
  --on-primary-container: #21005d;
  --secondary-container: #e8def8;
  --on-secondary-container: #1d192b;
  --tertiary-container: #ffd8e4;
  --on-tertiary-container: #31111d;
  --error-container: #f9dedc;
  --on-error-container: #410e0b;
  --surface-dim: #ded8e1;
  --surface: #fef7ff;
  --surface-bright: #fef7ff;
  --inverse-surface: #322f35;
  --inverse-on-surface: #f5eff7;
  --inverse-primary: #d0bcff;
  --surface-container-lowest: #ffffff;
  --surface-container-low: #f7f2fa;
  --surface-container: #f3edf7;
  --surface-container-high: #ece6f0;
  --surface-container-highest: #e6e0e9;
  --on-surface: #1d1b20;
  --on-surface-var: #49454f;
  --outline: #79747e;
  --outline-variant: #cac4d0;
  --scrim: #000000;
  --shadow: #000000;
}
nav {
  width: 60%;
  background-color: var(--primary-container);
  color: var(--on-primary-container);
  margin: 0 auto;
  text-align: center;
  padding: 1.1em;
  border-radius: 15px;
}

.main-action-buttons {
  max-width: 60%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: center;
  gap: 5rem;
}

.main-action-buttons > button {
  font-size: 1.7rem;
  padding: 0.2em 1em;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  background-color: var(--primary);
  color: var(--on-primary);
}

.main-action-buttons > button:hover {
  background-color: var(--primary-hover);
}
.main-action-buttons > button:active {
  background-color: var(--primary-active);
}

main {
  max-width: 100%;
  background-color: var(--surface-container);
  margin: 0 0.5em 0.5em;
  border-radius: 15px;
  color: var(--on-surface);
}
