.achievement-adder,
.employment-fields {
  grid-column: 1/-1;
}
.employment-fields,
.achievements > fieldset {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 1em 2em;
}
.achievement-adder > h4,
.achievement-adder > button,
.employment-fields > h4 {
  font-size: 1.2rem;
  grid-column: 1/-1;
}
.achievement-adder > button {
  grid-column: 1/-1;
  display: block;
  margin: 0 auto;
  background-color: var(--secondary);
  cursor: pointer;
  width: 1.6em;
  height: 1.6em;
  border-radius: 50%;
  border: none;
}

.achievement-adder > button:hover {
  background-color: var(--secondary-hover);
}
.achievement-adder > button:active {
  background-color: var(--secondary-active);
}
.achievement-adder > button > img {
  width: 100%;
  height: 100%;
}
.is-employed > .radios > input[type='radio'] {
  appearance: none;
  padding: 0.2em 0.4em;
  border-radius: 0.5em;
  font-family: inherit;
  font-size: inherit;
}

.is-employed > .radios > input[type='radio']:first-child:after {
  content: 'Yes';
}

.is-employed > .radios > input[type='radio']:last-child:after {
  content: 'No';
}

.is-employed > .radios > input[type='radio']:checked {
  background-color: var(--tertiary);
  color: var(--on-tertiary);
}

.achievements > fieldset {
  position: relative;
}
.achievements > fieldset > .close {
  position: absolute;
  top: -9%;
  right: -2%;
}
