.search-result {
  margin: 2em 15%;
  padding: 1em;
  border-radius: 30px;
  background-color: var(--secondary-container);
  color: var(--on-secondary-container);
  border: 1px solid;
}

.search-result-header {
  display: flex;
  justify-content: space-between;
  padding: 0 1em;
}

.search-result-header > .select-all-field {
  display: flex;
  align-items: center;
}

.search-result * {
  font-family: inherit;
  font-size: inherit;
}
.search-result-header > .select-all-field > input[type='checkbox'] {
  appearance: none;
  width: 1.2em;
  height: 1.2em;
  border: 1px solid black;
  border-radius: 30%;
}

.search-result-header > .action-buttons {
  display: flex;
}

.search-result-header > .action-buttons > .export,
.search-result-header > .action-buttons > .edit,
.search-result-header > .action-buttons > .delete {
  padding: 0;
  width: 1.5em;
  height: 1.5em;
  border: none;
  cursor: pointer;
  background-color: inherit;
  margin-right: 0.65em;
}
.search-result-header > .action-buttons > :last-child {
  margin-right: 0;
}

.search-result-header > .action-buttons > .export > img,
.search-result-header > .action-buttons > .edit > img,
.search-result-header > .action-buttons > .delete > img {
  padding: 0.1em;
  width: 100%;
  height: 100%;
}
