.search-result {
  margin: 2em 15%;
  padding: 1em;
  border-radius: 30px;
  background-color: var(--secondary-container);
  color: var(--on-secondary-container);
  border: 1px solid;
}

.search-result-header {
  display: flex;
  justify-content: space-between;
  padding: 0 1em;
}

.search-result-header > .select-all-field {
  display: flex;
  align-items: center;
}

.search-resul * {
  font-family: inherit;
  font-size: inherit;
}
.search-result-header > .select-all-field > input[type='checkbox'] {
  appearance: none;
  width: 1.2em;
  height: 1.2em;
  border: 1px solid black;
  border-radius: 50%;
}
