.search-result {
  margin: 2em 15%;
  border-radius: 30px;
  background-color: var(--secondary-container);
  color: var(--on-secondary-container);
  padding-bottom: 0.65em;
  border: 1px solid var(--scrim);
}
.search-result-header,
.search-result > .results > .result {
  display: flex;
  justify-content: space-between;
}

.search-result-header {
  padding: 1em 2em 0.7em;
  margin-bottom: 1.3em;
  border-bottom: 1px solid var(--scrim);
}

.search-result > .results > .result {
  margin: 0.6em 1.3em;
  padding: 0.5em 0.7em;
  background-color: var(--surface-container-low);
  border-radius: 7px;
}

.search-result-header > .select-all-field {
  display: flex;
  align-items: center;
}

.search-result * {
  font-family: inherit;
  font-size: inherit;
}
.search-result-header > .select-all-field > input[type='checkbox'],
.search-result > .results > .result > input[type='checkbox'] {
  appearance: none;
  width: 1.2em;
  height: 1.2em;
  border: 1px solid black;
  border-radius: 30%;
  margin-right: 0.7em;
}

.search-result-header > .action-buttons,
.search-result > .results > .result > .action-buttons {
  display: flex;
}

.search-result-header > .action-buttons > *,
.search-result > .results > .result > .action-buttons > * {
  padding: 0;
  width: 1.5em;
  height: 1.5em;
  border: none;
  cursor: pointer;
  background-color: inherit;
  margin-right: 1.2em;
}
.search-result-header > .action-buttons > :last-child,
.search-result > .results > .result > .action-buttons > :last-child {
  margin-right: 0;
}

.search-result-header > .action-buttons > * > img,
.search-result > .results > .result > .action-buttons > * > img {
  padding: 0.1em;
  width: 100%;
  height: 100%;
}
